{% extends 'base-back.html.twig' %}

{% block title %}Page d'accueil | Infantia{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<h1>Planning du jour</h1>
<h2>Infos du jour</h2>
Nombre d'enfants présents : {{countChildPresence}}
{% endif %}

{% if is_granted('ROLE_EDUCATOR') %}
<h2>TEST educ </h2> 
{% endif %}

{% if is_granted('ROLE_PARENT') %}
<h2>TEST parent </h2>
{% endif %}

{% endblock %}
