{% extends 'base-back.html.twig' %}

{% block title %}Page CRUD Activité | Infantia{% endblock %}

{% block body %}
    <h1>Edit Activity</h1>

    {{ include('activity_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_activity_crud_index') }}">back to list</a>

    {{ include('activity_crud/_delete_form.html.twig') }}
{% endblock %}
