{% extends 'base-back.html.twig' %}

{% block title %}Page CRUD Daily Activité | Infantia{% endblock %}

{% block body %}
    <h1>Edit ScheduledActivity</h1>

    {{ include('scheduled_activity_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scheduled_activity_crud_index') }}">Retour</a>

    {{ include('scheduled_activity_crud/_delete_form.html.twig') }}
{% endblock %}
