<!DOCTYPE html>

<title>New ChildPresence</title>

{% block body %}
    <h1>Create new ChildPresence</h1>

    {{ include('child_presence_crud/_form.html.twig') }}

    <a href="{{ path('app_child_presence_crud_index') }}">back to list</a>
{% endblock %}
