{% extends 'base-client.html.twig' %}

{% block title %}Créer votre mot de passe | Infantia{% endblock %}

{% block body %}
    <h1>Créer votre mot de passe</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.password) }}

        <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}
